<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <!-- <header>
      <div class="heading">
        <h1>Yummy Bites</h1>
      </div>
      <nav>

      </nav>
    </header> -->
    <main>
    <div id="content-slider">
      <img src="./img/arrow-left.png" alt="prev" id="prev">
      <div id="slider">
        <div class="slide" >
          <div class="slide-copy">
            <h2>sliderone</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <img src="./img/chana.png" alt="">
        </div>
        <div class="slide" >
          <div class="slide-copy">
            <h2>slider Two</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <img src="./img/Paneer-Butter-Masala.png" alt="">
        </div>
        <div class="slide" >
          <div class="slide-copy">
            <h2>slider Three</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <img src="./img/rajma-indian-dish.png" alt="">
        </div>
        <div class="slide" >
          <div class="slide-copy">
            <h2>slider Four</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <img src="./img/gobi.png" alt="">
        </div>
      </div>
      <img src="./img/arrow-right.png" alt="next" id="next">
    </div>
    <div  id="mid" ng-controller="Sessioncontroller">
      <div class="mid-inner">
        <h1>Food lovers</h1>
        <p>When looking for a wholesome appetizing home made Indian lunch. Look no further .. and order your lunch box.</p>
      </div>
      <div class="mid-inner">
        <h1>Meet Our chef</h1>
        <p>Food is my passion - my art is creating a delicious and surprising menu as close to home as possible, that will overwhelm your every sense.</p>

      </div>
      <div class="mid-inner">
        <h1>Say hello</h1>
        <p>We love to meet people who want to share their love of food at events, private parties and more. Drop us a line or give us a call.</p>
      </div>
        <!-- <a href="/logout">logout</a> -->
    </div>
  </main>
  <footer>
    <ul>
      <li><a href="#">Linkedin</a></li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Instagram</a></li>
    </ul>
  </footer>
  </body>
</html>
