<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <main>
      <!-- div ng-controller="Sessioncontroller" -->

    <h1>logreg 2</h1>
    <form>
    Email:  <input type="text" name="email" value="{{gmail.email}}" placeholder={{gmail.email}}>
    Name:<input type="text" name="name" value="{{gmail.username}}" placeholder={{gmail.username}}>
    Address:  <input type="text" name="address" value=""/>
    Building: <select class="" name="building">
                  <option value="">black foot</option>
                  <option value="">dopller</option>
              </select>
              <input type="button" value="Save Info"/>
    </form>
  </div>
  </main>
  </body>
</html>
