<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>menu for week</h1>
    </header>
  <div class="main" ng-controller="Sessioncontroller">
    <form class="form-horizontal">
      <div class="form-group">
      <label class="control-label col-sm-2" for="monday">Monday:</label>
      <div class="col-sm-8">
      <input type="text" class="form-control" ng-model="newmenu.monday" placeholder="">
      </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="tuesday">Tuesday:</label>
        <div class="col-sm-8">
          <input class="control-label col-sm-2" type="text" ng-model="newmenu.tuesday" value="">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="wednesday">Wednesday:</label>
        <div class="col-sm-8">
          <input class="control-label col-sm-2" type="text" ng-model="newmenu.tuesday" value="">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="thursday">Thursday:</label>
        <div class="col-sm-8">
          <input class="control-label col-sm-2" type="text" ng-model="newmenu.tuesday" value="">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="friday">Friday:</label>
        <div class="col-sm-8">
          <input class="control-label col-sm-2" type="text" ng-model="newmenu.tuesday" value="">
        </div>
      </div>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" type="submit" >Add a menu</button>
          </div>
      </div>
    </form>
  </div>
        <ul >
      <li>

      </li>
    </ul>
      </body>
</html>
